.header {
  height: 12rem;
  display: flex;
  align-items: center;
  font-weight: 500;
  border-bottom: 2px solid $clouds;
  background-color: #fff;

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    text-shadow: 0px 5px 5px rgba($midnight-blue, 0.3);
  }

  &__nav-list {
    display: flex;
    gap: 2rem;
  }

  &__nav-item {
    cursor: pointer;

    &:hover {
      color: $pumpkin;
    }
  }

  &__link {
    &.active {
      color: $pumpkin;
    }
  }
}

.logo {
  &__second-element {
    margin-left: 0.5rem;
    color: $pumpkin;
  }
}

.cart {
  position: relative;
  display: flex;
  align-items: center;

  &__image {
    width: 2.5rem;
    margin-left: 0.7rem;
  }

  &__badge {
    position: absolute;
    top: -1.4rem;
    right: -1.4rem;
    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: #ffffff;
    background-color: $pumpkin;
    border-radius: 50%;
  }
}
